body{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

.outer-ring{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: changeColor 5s infinite;
}

.inner-ring{
    position: relative;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.center-ring{
    position: relative;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}

.hand{
    width: 1px;
    height: 40px; 
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    animation: rotate 5s infinite;
}

.loading{
    color: rgb(255, 255, 255);
    position: absolute;
    left: var(--x);
    transform: translate(-50%, 0);
    top: var(--y);
    font-weight: bolder;
}

@keyframes changeColor{
    0%{
        background-color: rgb(255, 110, 110);
        box-shadow: 1px 1px 10px 2px rgb(255, 111, 111);
    }
    14%{
        background-color: orange;
        box-shadow: 1px 1px 10px 1px orange;
    }
    28%{
        background-color: yellow;
        box-shadow: 1px 1px 10px 2px yellow;
    }
    42%{
        background-color: rgb(105, 255, 105);
        box-shadow: 1px 1px 10px 2px rgb(108, 255, 108);
    }
    56%{
        background-color: rgb(52, 164, 255);
        box-shadow: 1px 1px 10px 4px rgb(54, 188, 255);
    }
    70%{
        background-color: blueviolet;
        box-shadow: 1px 1px 10px 3px blueviolet;
    }
    84%{
        background-color: rgb(183, 79, 183);
        box-shadow: 1px 1px 10px 3px rgb(175, 64, 175)
    }
    100%{
        background-color: red;;
        box-shadow: 1px 1px 10px 2px red;
    }
}

@keyframes rotate{
    0%{
        transform: translate(40%, -60%) rotate(0deg);
    }
    14%{
        transform: translate(300%, -58%) rotate(50deg);
    }
    28%{
        transform: translate(280%, -42%) rotate(98deg);
    }
    42%{
        transform: translate(200%, -25%) rotate(150deg);
    }
    56%{
        transform: translate(-70%, -23%) rotate(200deg);
    }
    70%{
        transform: translate(-250%, -38%) rotate(255deg);
    }
    84%{
        transform: translate(-220%, -58%) rotate(308deg);
    }
    100%{
        transform: translate(40%, -60%) rotate(358deg);
    }
}

